.menu__row{
    /* padding: 0% 0% 0% 5%; */
    padding: 0% 0% 0% 0%;
    margin-right: 0 !important;
    margin-left: 0;
    --bs-gutter-x: 0;
    display: flex;
    flex-wrap: wrap;
}

.col__3{
    flex: 0 0 auto;
    width: 23%;
}

.col__4{
    flex: 0 0 auto;
    width: 30.979%;
}
.col__5{
    flex: 0 0 auto;
    width: 50%;
    z-index: 1;
}
.menu__container{
    margin: 70px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0% 45% 15% 0%;
}
.menu___heading{
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2em;
}

.visit__link{
    margin-top: 20px;
}
.visit__link a{
    font-size: 16px;
    color: #36348e;
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.3em;
}

.short__parag{
    margin: 30px 0 15px;
}
.short__parag p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
}

.menu__blog_post{
    border-style: solid;
    border-width: 0 0 1px;
    padding: 20px 0 20px;
    border-color: #d4d4d4;
}
.menu__blog_post h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
}

.menu__blog_post h4 a{
    display: block;
    color: #292929;
    text-decoration: none;
    line-height: 1.6em;
}

.menu__blog_post span{
    color: #747474;
    font-size: 13px;
}

.menu__content ul{
    list-style: none;
    padding-left: 0;
}
.menu__content ul li a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.6em;
    color: #292929;
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #D4D4D4;
}

.menu__content ul li a:hover{
    color: #d8d8db;
}

.menu__container_right{
    min-height: 400px;
    padding: 70px 0 100px 30px;
    position: relative;
    margin-right: -15px;
}
.bg_image{
    background-image: url('/../../../menu-bg.webp') ;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.menu__content blockquote{
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    quotes: none;
    border: 0;
    font-style: normal;
    color: #3a3f45;
}

.menu__content blockquote p{
    color: #292929;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
    text-align: left;
}
.menu__content blockquote::before{
    content: "“";
    font-size: 100px;
    color: #262727;
    font-family: Times New Roman,Times,serif;
    font-weight: 900;
    line-height: 1;
    display: block;
    height: 0.6em;
}

.quote__tag__line p{
    font-size: 13px;
    line-height: 1.5em;
}


.menu__footer_links{
    text-align: center;
    width: 100%;
    display: block;
    padding: 50px 0;
    border-top: 1px solid #dddd;
}
.menu__footer_links ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu__footer_links ul li{
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    margin: 0 15px;
}

.menu__footer_links ul li a{
    padding: 20px 10px;
    display: block;
    color: #fff;
    background: #292929;
    width: 220px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.menu__footer_links ul li a:hover{
    background-color: #d0d0d1;
}