.academic_gallery_img{
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.academic_gal_1{
    padding: 180px 20px 0 0;
}
.gbx_1{
    /* padding: 0 145px 0 0; */
    width: 260px;
}
.gbx_2{
    margin: -70px 180px 0;
    /* padding: 0 0 0 145px; */
    width: 260px;
}
.gbx_3{
    width: 260px;
}
.gbx_4{
    /* padding: 0 0 0 90px; */
    width: 260px;
    margin-left: 90px;
}
.gbx_5{
    margin: -90px 0 0;
    width: 260px;
    /* padding: 0 0 90px 0; */
    margin-right: 95px;
}

.bx_2{
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin: 0;
}

.bx_3{
    margin: 0;
    padding: 0 0 0 110px;
}

.image_bx{
    display: block;
}

@media(max-width: 767px){
    .mbNone{
        display: none;
    }
    .bx_1{
        margin: 0px 0 0;
        padding: 0 0px 0 0;
        display: none;
    } 
    .bx_2{
        margin: 0px 0 0;
        padding: 0 0px 0 0;
        display: none;
    } 

    .bx_3{
        margin: 0 auto;
        display: block;
        padding: 0;
    }
}