.event__card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.event__thumb{
    flex: 1;
    width: 33.33%;
}
.event__caption{
    flex: 2;
    padding: 45px;
}
.event__caption:hover{
    background-color: var(--iba-bg-yellow);
}
.event__thumb img{
    max-width: 100%;
    display: block;
    height: auto;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.event__caption h5{
    color: #36348e;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 20px;
}
.event__caption a{
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}
.event__caption a h4{
    color: #292929;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2em;
}

.event__caption p{
    font-size: 18px;
    line-height: 1.2em;
}

@media(max-width: 767px){
    .event__thumb{
        flex: unset;
        width: 100%;
    }
}